{% set selectedSubnavItem = 'history' %}
{% extends "_layouts/cp" %}

{% block content %}
    <style>
        .alert {
            padding: 1rem;
            margin-bottom: 1rem;
            border-left: 4px solid #ccc;
            background: #f9f9f9;
            border-radius: 4px;
        }

        .alert-success {
            border-color: #28a745;
            background: #e9f7ef;
        }

        .alert-warning {
            border-color: #ffc107;
            background: #fff8e1;
        }

        .alert-error {
            border-color: #dc3545;
            background: #fbeaea;
        }

    </style>
    <h1>
        <svg width="136.08" height="15.84" viewBox="0 0 378 44" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M51.4922 0H60.825V43.5171H51.4922V0Z" fill="currentColor"/>
            <path d="M92.1792 41.948C91.1642 42.6773 90.0159 43.2002 88.7994 43.4868C87.4204 43.8337 86.0033 44.0061 84.5814 44C80.752 44 77.7904 43.0142 75.6965 41.0427C73.6029 39.0717 72.5558 36.175 72.5553 32.3526V15.621H67.5898V8.37926H72.5553V0H81.8889V8.37926H89.9063V15.621H81.8889V32.2323C81.8144 33.3839 82.1896 34.5194 82.9357 35.3999C83.3224 35.7848 83.7864 36.0833 84.2969 36.2757C84.8075 36.4682 85.353 36.5502 85.8976 36.5163C87.2547 36.5551 88.5845 36.1295 89.6669 35.3098L92.1792 41.948Z"
                  fill="currentColor"/>
            <path d="M247.058 41.948C246.043 42.6773 244.895 43.2002 243.678 43.4868C242.299 43.8337 240.882 44.0061 239.46 44C235.631 44 232.669 43.0142 230.575 41.0427C228.482 39.0717 227.435 36.175 227.434 32.3526V15.621H222.469V8.37926H227.434V0H236.768V8.37926H244.785V15.621H236.768V32.2323C236.693 33.3839 237.069 34.5194 237.815 35.3999C238.201 35.7848 238.665 36.0833 239.176 36.2757C239.686 36.4682 240.232 36.5502 240.776 36.5163C242.134 36.5551 243.463 36.1295 244.546 35.3098L247.058 41.948Z"
                  fill="currentColor"/>
            <path d="M125.163 7.96576H111.762V0H148.257V7.96576H134.856V43.5171H125.163V7.96576Z"
                  fill="currentColor"/>
            <path d="M180.172 29.9391H155.822C156.206 31.8692 157.32 33.5766 158.932 34.7061C160.729 35.9221 162.867 36.5352 165.035 36.4569C166.555 36.484 168.066 36.2281 169.492 35.7022C170.847 35.1607 172.079 34.3498 173.112 33.3187L178.077 38.7495C175.046 42.2495 170.618 43.9998 164.796 44.0003C161.46 44.0672 158.157 43.3324 155.164 41.8574C152.485 40.5352 150.243 38.4723 148.702 35.9134C147.165 33.3008 146.378 30.3148 146.428 27.2839C146.386 24.2674 147.161 21.2959 148.672 18.6846C150.134 16.1618 152.267 14.0937 154.834 12.7098C157.506 11.3178 160.471 10.5834 163.483 10.5676C166.496 10.5519 169.468 11.2553 172.154 12.6194C174.682 13.9632 176.769 16.0055 178.167 18.5029C179.665 21.2263 180.419 24.2967 180.351 27.4042C180.351 27.5253 180.291 28.3703 180.172 29.9391ZM158.334 19.499C156.868 20.7611 155.929 22.5269 155.702 24.4477H171.556C171.326 22.5365 170.387 20.7814 168.924 19.5297C167.462 18.2779 165.583 17.6208 163.659 17.6884C161.723 17.6268 159.831 18.2702 158.334 19.499Z"
                  fill="currentColor"/>
            <path d="M207.342 43.5169L200.282 33.5597L192.984 43.5169H182.812L195.197 27.1622L183.231 11.0498H193.701L200.521 20.5241L207.522 11.0498H217.453L205.488 26.9215L217.932 43.5169H207.342Z"
                  fill="currentColor"/>
            <path d="M269.98 0H279.673V35.5513H300.673V43.5171H269.98V0Z" fill="currentColor"/>
            <path d="M331.785 14.1583C334.457 16.5524 335.794 20.1632 335.794 24.9905V43.5175H327.059V39.474C325.303 42.4911 322.032 43.9999 317.247 44.0004C315.036 44.0534 312.841 43.6206 310.816 42.7325C309.122 41.9907 307.677 40.7754 306.657 39.2326C305.693 37.7197 305.194 35.9573 305.222 34.1635C305.167 32.7916 305.446 31.4269 306.035 30.1866C306.624 28.9463 307.505 27.8674 308.602 27.0425C310.855 25.3129 314.335 24.4481 319.042 24.4478H326.46C326.515 23.5707 326.378 22.6922 326.057 21.8739C325.737 21.0555 325.242 20.3171 324.606 19.7102C323.37 18.6044 321.515 18.0514 319.042 18.0511C317.324 18.0512 315.617 18.3261 313.986 18.8655C312.46 19.3408 311.031 20.0869 309.768 21.0681L306.418 14.4901C308.338 13.1667 310.474 12.1865 312.73 11.5934C315.194 10.908 317.74 10.5628 320.298 10.5674C325.284 10.5674 329.113 11.7644 331.785 14.1583ZM323.828 36.547C325.068 35.7981 326.001 34.6323 326.46 33.2582V29.9392H320.059C316.23 29.9392 314.316 31.2065 314.316 33.7412C314.297 34.2976 314.415 34.8501 314.661 35.3499C314.906 35.8498 315.27 36.2817 315.721 36.6076C316.859 37.37 318.214 37.7407 319.581 37.6635C321.072 37.6911 322.543 37.3047 323.828 36.547Z"
                  fill="currentColor"/>
            <path d="M369.681 12.6489C372.116 14.0201 374.117 16.0485 375.455 18.5025C376.895 21.2012 377.616 24.2253 377.548 27.2835C377.616 30.3415 376.895 33.3654 375.455 36.0637C374.117 38.5182 372.117 40.5468 369.681 41.9177C367.188 43.3161 364.372 44.0342 361.514 44C357.087 44 353.716 42.5919 351.403 39.7757V43.5171H342.488V0H351.822V14.4898C354.175 11.875 357.406 10.5675 361.514 10.567C364.372 10.5329 367.188 11.2509 369.681 12.6489ZM365.791 33.8308C367.389 32.0353 368.216 29.6837 368.095 27.2835C368.216 24.8831 367.389 22.5314 365.791 20.7354C365.018 19.9606 364.1 19.346 363.088 18.9266C362.077 18.5072 360.993 18.2913 359.899 18.2913C358.804 18.2913 357.72 18.5072 356.709 18.9266C355.698 19.346 354.779 19.9606 354.006 20.7354C352.408 22.5313 351.581 24.8832 351.703 27.2835C351.581 29.6837 352.408 32.0354 354.006 33.8308C354.779 34.6056 355.697 35.2202 356.709 35.6396C357.72 36.059 358.804 36.2749 359.899 36.2749C360.993 36.2749 362.077 36.059 363.088 35.6396C364.1 35.2202 365.018 34.6056 365.791 33.8308Z"
                  fill="currentColor"/>
            <path d="M46.965 43.517H36.387L33.396 38.019L28.061 28.179L23.457 19.705L13.586 38.019H27.197L30.18 43.517H0L23.482 0L46.965 43.517Z"
                  fill="currentColor"/>
        </svg>
    </h1>
    <hr>
    <div>
        {% if not apiKey %}
            <div class="alert alert-warning">
                <p>Get your API Key at <a
                            href="https://app.alttextlab.com/settings/api-keys?utm_source=integration&utm_medium=wp&utm_term=api-key-hint"
                            target="_blank">AltTextLab.com</a> > API Keys > Create API key</p>
            </div>
        {% elseif apiKey and not account %}
            <div class="alert alert-error">
                <p>Your API key is invalid. Please check your API key or <a
                            href="https://app.alttextlab.com?utm_source=integration&utm_medium=wp&utm_term=invalid-api-key"
                            target="_blank">create a new API key</a>.</p>
            </div>
        {% else %}
            {% if account.isActive %}
                <div class="alert alert-success">
                    <p> You’re on the <strong>{{ account.plan }} plan.</strong></p>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    <p><strong>You don’t have an active subscription.</strong></p>
                </div>
            {% endif %}

            {% if account.isActive and account.credits == 0 %}
                <div class="alert alert-warning">
                    <p><strong>Alt text generation is currently disabled due to zero credits on your account.</strong>
                    </p>
                </div>
            {% elseif not account.isActive %}
                <div class="alert alert-warning">
                    <p>Alt text generation is currently <strong>disabled.</strong></p>
                </div>
            {% endif %}

            <div>
                <div>Credits on your account: <strong>{{ account.credits }}</strong></div>

                {% if account.isActive and account.nextReceiving and account.nextReceivingAt %}
                    {% set refillDate = account.nextReceivingAt|date('m.d.Y') %}
                    <div><strong>Next credits refill:</strong> {{ account.nextReceiving }} credits on <strong>{{ refillDate }}</strong></div>
                {% endif %}
            </div>

            {% if account.isActive %}
                <p>You can <a
                            href="https://app.alttextlab.com/settings/subscription?utm_source=integration&utm_medium=wp&utm_term=get-credits"
                            target="_blank">upgrade
                        your plan</a> to get more credits.</p>
            {% else %}
                <p>To unlock alt text generation, please <a
                            href="https://app.alttextlab.com/settings/subscription?utm_source=integration&utm_medium=wp&utm_term=get-credits"
                            target="_blank">
                        activate a subscription plan</a></p>
            {% endif %}
        {% endif %}
    </div>
    <hr>
{% endblock %}